/* styles.css */

body {
  font-family: 'Roboto', sans-serif;
  text-align: justify;
}

h1.title {
  text-align: center;
  font-weight: bold;
}

h2.author {
  text-align: center;
  font-style: italic;
  color: black;
}